* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*
    background-image: linear-gradient(120deg,#f6d365, #f06a45);
    */
    background: #01243a;
    color: rgb(214, 105, 86);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header,form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color:  #fda085;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #fda085;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.trash-btn, .complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(61, 173, 61);
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select {
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after {
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
.select:hover::after {
    background: white;
    color: #ff6f47;
}


.flex-container {
    border: 6px solid black;
    display: inline-flex;
    /* display: flex; */
}
.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: .25rem;
    text-align: center;
}
.item-1 {    background-color: #b4bf35; }
.item-2 {    background-color: #b94f21; }
.item-3 {    background-color: #1c4c56; }
.item-4 {    background-color: #cfb276; }
.item-5 {    background-color: #680803; }
.item-6 {    background-color: #1c4c56; }
.item-7 {    background-color: #b94f21; }
.item-8 {    background-color: #01243a; }
.item-9 {    background-color: #aad941; }